// ======= CUSTOM BOOTSTRAP =======
// Custom colors
$primary: #ed1b42;
$secondary: #959e31;
$light: #f8f9fa;
$white: #fff;
$black: #000000;
$lightgray: #1b1b1b;

// Import the functions and variables
@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';

$custom-theme-colors: (
  'lightgray': $lightgray,
  'black': $black,
);

$carousel-indicator-width: 5px;
$carousel-indicator-height: 5px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 10px;
$carousel-indicator-opacity: 0.5;
$carousel-indicator-active-bg: $primary;
$carousel-indicator-active-opacity: 1;

$carousel-caption-width: 100%;

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Import Bootstrap, Animate
@import '../../node_modules/bootstrap/scss/bootstrap';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&family=Rubik+Glitch&display=swap');

// Font Variables
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Rubik Glitch', cursive;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $white;
  background-color: $lightgray;
}

.navbar-btn {
  @include border-radius(1.28571rem);
  text-transform: uppercase;
  font-size: 0.785714rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.0357143rem;
  min-height: 2.42857rem;
  padding: 0.642857rem 1.07143rem 0.571429rem;
}

.stn-navbar {
  .navbar-brand {
    font-family: $font-secondary;
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    span {
      color: $primary;
      // margin-right: 3px;
    }
  }
  .navbar-nav {
    .nav-link {
      text-transform: uppercase;
      color: white;

      &:hover {
        color: $primary;
      }
    }
  }
  .navbar-toggler {
    background-color: $primary;
  }
}

.navbar-toggler-icon {
  @media (max-width: 768px) {
    width: 1em;
    height: 1em;
  }
}

// HERO
.carousel {
  .carousel-item {
    height: 450px;
  }

  @media (max-width: 1200px) {
    .carousel-item {
      height: 350px;
    }
  }
  @media (max-width: 768px) {
    .carousel-item {
      height: 300px;
    }
  }
}

.carousel-caption {
  @include border-radius(0.5rem);
  background-color: rgba(4, 20, 37, 0.5);
  background-image: linear-gradient(
    rgba(4, 20, 37, 0.3),
    rgba(20, 52, 92, 0.6)
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: start;
  h3 {
    font-size: 1.28571rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    line-height: 1.43;
  }

  .btn {
    @include border-radius(1.42857rem);
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    text-transform: uppercase;
    font-size: 0.785714rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.0357143rem;
    min-height: 2.42857rem;
    padding: 0.642857rem 1.07143rem 0.571429rem;
    width: 100%;
  }
  @media (max-width: 720px) {
    width: 95%;
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
    .btn {
      font-size: 0.5rem;
    }
  }

  .promo-icon {
    path {
      fill: rgb(237, 27, 66);
    }
  }
}

.carousel-indicators {
  button {
    border-radius: 50%;
    background-color: $white;
  }
}

// UPCOMING SECTION

.stn-upcoming {
  h1 {
    align-items: center;
    background-color: rgb(10, 10, 10);
    display: flex;
    font-size: 0.857143rem;
    font-style: italic;
    font-weight: 600;
    height: 4.07143rem;
    justify-content: center;
    letter-spacing: 0.0142857rem;
    line-height: 1.1;
    padding: 1.64286rem 0px 1.71429rem;
    position: relative;
    text-transform: uppercase;

    &:after {
      background: linear-gradient(to right, $primary, transparent);
      bottom: -0.142857rem;
      content: '';
      height: 0.142857rem;
      left: 0px;
      position: absolute;
      right: 0px;
    }
  }

  .nav-link {
    color: $white;
    h1 {
      &:after {
        background: rgba(255, 255, 255, 0.2);
        bottom: -0.142857rem;
        content: '';
        height: 0.142857rem;
        left: 0px;
        position: absolute;
        right: 0px;
      }
    }
  }
}

.nav-link.active {
  h1 {
    &:after {
      background: $primary;
      bottom: -0.142857rem;
      content: '';
      height: 0.142857rem;
      left: 0px;
      position: absolute;
      right: 0px;
    }
  }
}

.match {
  .match-info {
    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.65);
      display: inline-block;
      font-size: 0.857143rem;
      letter-spacing: 0.0142857rem;
      margin-top: 0.285714rem;
    }
    .match-name {
      color: rgb(255, 255, 255);
      font-size: 1.07143rem;
      font-weight: normal;
      line-height: 1.3;
      margin: 0px;
      padding: 0px;
      text-decoration: none;
    }
  }

  button {
    place-content: center;
    align-items: center;
    border-radius: 4px;
    border: transparent;
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-weight: 600;
    min-height: 3.57143rem;
    padding: 0.214286rem;
    position: relative;
    transition: background 0.1s ease 0s, color 0.1s ease 0s, border 0.1s ease 0s;
    user-select: none;
    width: 100%;
    height: 100%;

    .team {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.857143rem;
      font-weight: 400;
      letter-spacing: 0.0142857rem;
      line-height: 1.28571rem;
      margin-bottom: 0.357143rem;
      padding: 0px 0.214286rem;
    }

    .odd {
    }
  }

  .bookmaker {
    h3 {
      margin: 0;
      padding: 0;
      align-items: center;
      color: rgb(255, 255, 255);
      display: flex;
      font-size: 0.857143rem;
      font-weight: 400;
      letter-spacing: 0.0142857rem;
      line-height: 0.857143rem;
      text-transform: uppercase;
    }
  }
}

// Utility
.dot {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
  height: 0.285714rem;
  margin: 0px 0.5rem;
  position: relative;
  top: -0.142857rem;
  width: 0.285714rem;
}
